<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
{% if user.is_authenticated %}
Вы вошли как <b> {{ user.username }}</b>

    <form action="{% url 'logout_user' %}" method="POST">
        {% csrf_token %}
    <button type="submit">Выйти </button>
    </form>


{% else %}
    <a href="{% url 'signup_user' %}">Зарегистрироваться</a>
    <a href="{% url 'login_user' %}">Войти</a>

{% endif %}
<a href="{% url 'all_expenses' %}">Расходы</a>
<a href="{% url 'all_category' %}">Категории</a>
<a href="{% url 'plan' %}">Планирование расходов</a>
<br>
<br>
<br>

{% block content %}
{% endblock %}

</body>
</html>