{% extends 'money/base.html' %}

{% block content %}


    <p>Эконо́мика (от др.-греч. οἶκος «дом, хозяйство; хозяйствование» + νόμος «ном, территория под управлением;
        правило, закон»; букв. — «правила ведения домашнего хозяйства») — хозяйственная деятельность общества, а также
        совокупность отношений, складывающихся в системе производства, распределения, обмена и потребления.
    </p>

    <p>Де́ньги — всеобщий эквивалент, служащий мерой цен и способный непосредственно легко обмениваться на предлагаемые
        товары или услуги. По своей форме деньги могут быть особым товаром, ценной бумагой, знаком стоимости,
        различными благами или ценностями, записями по счетам.</p>


{% endblock %}

