{% extends 'money/base.html' %}

{% block content %}
    <style>
         .create a {
                text-decoration: none;
                background-color: #e5f6f0;
                border: 10px;
                padding: 10px;
                border-radius: 3px;
         }
         .create a:hover {
             background-color: #f6f4e5;
             color: darkmagenta;
         }
    </style>

<h3>Посмотреть запланированные расходы </h3>


    {% if plan %}
            <h5> Ожидаемые траты </h5>

    <table class="table table-striped">
        <thead>
             <tr>
                   <th> Id </th>
                   <th> Название </th>
                   <th> Сумма трат </th>
             </tr>
        </thead>

        <tbody>
        {% csrf_token %}
        {% for plan in plan %}

            <tr>
                <td><a href="{% url 'view_plan'  plan.id %}">{{ plan.id }}</a></td>
                <td>{{ plan.title }}</td>
                <td>{{ plan.value }}</td>
            </tr>

        {% endfor %}
          </tbody>
        </table>

        <h5>Конечная сумма затрат: {{ total_count }}</h5>
    {% endif %}
    <br>
    <div class="create">
        <a href="{% url 'create_plan' %}"> Создать новую трату </a>
    </div>
    <br>
    <br>
    <p>
        Если вы хотите удалить все запланированные расходы кликните ниже.
    </p>
    <form method="POST" action="{% url 'delete_all' %}">
        {% csrf_token %}
        <button type="submit"> Удалить всё одной кнопкой </button>
    </form>
        <br>
    <br>
{% endblock %}