
<form id="filter" method="GET">
    <select name="category_id">
        <option value="-1" {% if filters.category_id == -1 %} selected {% endif %}>Все категории</option>
        {% for category in categories %}

            <option
                value="{{ category.id }}"
                {% if category.id == filters.category_id %} selected {% endif %}
            >
                {{ category.name }}
            </option>
        {% endfor %}
    </select>

{#    <input type="date" id="date" name="date">#}

    <button type="submit">Применить</button>
</form>
